/*
!.*
*.swp
.aliases-avos
.amazon_keys
.viminfo.tmp
.CFUserTextEncoding
.DS_Store
.ec2/
.fu
.irb-history
.ssh/
.Trash/
.bash_profile
.bashrc
.cups/
.dropbox/
.gem/
.gitconfig
.irssi/
.java_history
.keepassx/
.lein/
.m2
.mysql_history
.netrc
.npm
.oh-my-zsh/
.overtone/
.pip/
.pry_history
.pylint.d
.rvm/
.subversion/
.vegas/
.viminfo
.vim/.netrwhist
.zcompdump
.zsh-update
.zsh_history
