/*
!.*
*.swp
.aliases-avos
.viminfo.tmp
.CFUserTextEncoding
.DS_Store
.ssh/
.Trash/
.bash_profile
.bashrc
.dropbox/
.gem/
.gitconfig
.irssi/
.java_history
.keepassx/
.lein/
.m2
.npm
.oh-my-zsh/
.pip/
.pylint.d
.rvm/
.subversion/
.viminfo
.vim/.netrwhist
.zcompdump
.zsh-update
.zsh_history
